/* * {
    margin: 0;
    padding: 0;
} */


body{
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.jpg);
    background-size: 40%;
    background-position: 50% auto;
    font-family: 'Architects Daughter', cursive;
}    

#container {
    background-color: rgba(110, 172, 114, 0.9);
    width: 80%;
    margin: 5vh auto;
    border-radius: 60px;
    padding: 20px 0px;
}

#poema{
    width: 200px;
    margin: auto;
}

#poema h2 {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Bangers', cursive;
}

#container:hover {
    box-shadow: 10px 10px 15px;
    cursor: pointer;
}
